$pure-black: #000;

.home {
  background-color: $pure-black;
  &-header {
    position: absolute;
    top: 0px;
    left: 40%;
    transform: translate(-50%, 50%);
    @include mobile-only {
      width: 100%;
      text-align: center;
      left: 50%;
    }
    h1 {
      padding-left: 15px;
      span {
        font-family: $title-font !important;
        line-height: 1.2em;
        animation: animtext-up 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
        animation-delay: calc(0.2s * var(--word-index));
        --word-percent: calc(var(--word-index) / var(--word-total));
        --line-percent: calc(var(--line-index) / var(--line-total));
        font-size: 65px;
        font-weight: 300;
        box-sizing: border-box;
        @include mobile-only {
          font-size: 35px;
        }
      }
    }
  }

  .waves {
    min-height: 800px;

    @include mobile-only {
      min-height: 500px;
    }

    canvas {
      height: 100%;
    }
  }

  &-btn {
    position: relative;

    @include mobile-only {
      margin: 0 auto !important;
    }
    &::before {
      content: "";
      width: 50px;
      position: absolute;
      height: 25px;
      left: 0px;
      transform: translateX(-100%);
      background-color: $white;
      transition: all ease-out 0.6s;
      opacity: 0.3;
    }
    margin-top: 75px !important;

    svg {
      transition: all ease-out 0.6s;
    }
    &:hover {
      svg {
        transform: translateX(22px);
      }

      &::before {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        transform: translateX(400%);
      }
    }
  }
}
