$main-color: #11739a;
$black: #333333;
$main-background: #2a2b30;
$secondary-font-color: #e1e1e1;
$background: #f5f5f5;
$white: #fff;
$error-color: #f44336;
$border-color: #313236;
$box-shadown: 0 0 30px rgba(0, 0, 0, 0.2);
